/* 

As propriedades que SEMPRE vão apenas no PAI são 
display: flex;
flex-direction	> Define a direção: row (linha) ou column
justify-content	> Alinha no eixo principal (horizontal em row)
align-items	> Alinha no eixo cruzado (vertical em row)
gap > Espaço entre os filhos

Já nos filhods, as propriedades que SEMPRE vão são:
flex-grow	> Cresce e ocupa espaço extra
flex-shrink	> Encolhe se o espaço for pequeno
flex-basis	> Largura inicial (antes de crescer ou encolher)
align-self	> Alinha só esse filho no eixo cruzado
order	> Muda a ordem do filho na tela
*/

nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    margin: 35px 35px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
  }

.navbar {
    background-color: #ffff;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.itens-menu a {
    text-decoration: none;
    color: #545454;
    font-size: 20px;
    /*font-weight: 500;*/

}

li{
    display: flex;
}

.logo {
    display: initial;
}

.logo img {
    width: 150px; 
    height: auto; 
    margin-top: 20px;
}

.content {
    padding-top: 150px; 
    flex: 1;
  }

  .itens-menu a {
    position: relative;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .itens-menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #71AEFF;
    transition: width 0.4s ease;
  }
  
  .itens-menu a:hover::after {
    width: 100%;
  }
  
  .busca-geral svg {
    margin-bottom: 2px;
    margin-right: 5px;  /* espaço entre o ícone e o texto */
    vertical-align: middle; /* alinha verticalmente ao texto */
    transform: translateX(2px); /* sobe ou desce o ícone */
  }
  
  .campo-busca-visual {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #71AEFF;
    padding: 2px 6px;
  }
  
  .input-busca-oculta {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #333;
    width: 120px;
  }
  
  .input-busca-oculta::placeholder {
    color: #333;
  }
  